.img-thumbnail
{
    height: 200px;
}
.card-buton-row
{
    bottom: 0px;
}
.card-title
{ 
    height : 72px;
    overflow: hidden;
}
.card-text
{
    font-size: 80%;
    margin-bottom: 0px;
    height: 38px;

}
.float-right
{
    float: right;
}